/*this is the demo cube stuff, and it works to flip a cube */
/* line 4, ../sass/style.scss */
#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

/* line 11, ../sass/style.scss */
#cube figure {
  width: 196px;
  height: 196px;
  display: block;
  position: absolute;
  border: 2px solid black;
}

/*#cube .front  { transform: rotateY(   0deg ) translateZ( 100px ); }
#cube .back   { transform: rotateX( 180deg ) translateZ( 100px ); }
#cube .right  { transform: rotateY(  90deg ) translateZ( 100px ); }
#cube .left   { transform: rotateY( -90deg ) translateZ( 100px ); }
#cube .top    { transform: rotateX(  90deg ) translateZ( 100px ); }
#cube .bottom { transform: rotateX( -90deg ) translateZ( 100px ); }*/
/*#cube.show-front  { transform: translateZ( -100px ) rotateY(    0deg ); }
#cube.show-back   { transform: translateZ( -100px ) rotateX( -180deg ); }
#cube.show-right  { transform: translateZ( -100px ) rotateY(  -90deg ); }
#cube.show-left   { transform: translateZ( -100px ) rotateY(   90deg ); }
#cube.show-top    { transform: translateZ( -100px ) rotateX(  -90deg ); }
#cube.show-bottom { transform: translateZ( -100px ) rotateX(   90deg ); }*/
/*#cube { transform: translateZ( -100px ); }
#cube { transition: transform 1s; }*/
/*end of the working demo*/
/* line 43, ../sass/style.scss */
#cube {
  transform: translateZ(-100px);
}

/* line 44, ../sass/style.scss */
#cube {
  /*transition: transform 5s; */
  /*transition-duration(5s);*/
  /*transition: transform 5s;*/
  /*transition: transform 1s ease-in-out;*/
  transition: transform 2s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 2s ease-in-out;
  -moz-transition: -moz-transform 2s ease-in-out;
  -o-transition: -o-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
}

/*#cube .front  {@include transform(rotate3d(  0, 1, 0, 0deg )   translateZ( 100px ))}
#cube .back   {@include transform(rotate3d(  1, 0, 0, 180deg )   translateZ( 100px ))}
#cube .right  {@include transform(rotate3d(  0, 1, 0, 90deg )   translateZ( 100px ))}
#cube .left   {@include transform(rotate3d(  0, 1, 0, -90deg )  translateZ( 100px ))}
#cube .top    {@include transform(rotate3d(  1, 0, 0, 90deg )  translateZ( 100px ))}
#cube .bottom {@include transform(rotate3d(  1, 0, 0, -90deg )  translateZ( 100px ))}*/
/* line 70, ../sass/style.scss */
#cube .front {
  -webkit-transform: rotateY(0deg) translateZ(100px);
  -moz-transform: rotateY(0deg) translateZ(100px);
  -ms-transform: rotateY(0deg) translateZ(100px);
  -o-transform: rotateY(0deg) translateZ(100px);
  transform: rotateY(0deg) translateZ(100px);
}

/* line 71, ../sass/style.scss */
#cube .back {
  -webkit-transform: rotateX(180deg) translateZ(100px);
  -moz-transform: rotateX(180deg) translateZ(100px);
  -ms-transform: rotateX(180deg) translateZ(100px);
  -o-transform: rotateX(180deg) translateZ(100px);
  transform: rotateX(180deg) translateZ(100px);
}

/* line 72, ../sass/style.scss */
#cube .right {
  -webkit-transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
  -ms-transform: rotateY(90deg) translateZ(100px);
  -o-transform: rotateY(90deg) translateZ(100px);
  transform: rotateY(90deg) translateZ(100px);
}

/* line 73, ../sass/style.scss */
#cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  -moz-transform: rotateY(-90deg) translateZ(100px);
  -ms-transform: rotateY(-90deg) translateZ(100px);
  -o-transform: rotateY(-90deg) translateZ(100px);
  transform: rotateY(-90deg) translateZ(100px);
}

/* line 74, ../sass/style.scss */
#cube .top {
  -webkit-transform: rotateX(90deg) translateZ(100px);
  -moz-transform: rotateX(90deg) translateZ(100px);
  -ms-transform: rotateX(90deg) translateZ(100px);
  -o-transform: rotateX(90deg) translateZ(100px);
  transform: rotateX(90deg) translateZ(100px);
}

/* line 75, ../sass/style.scss */
#cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
  -moz-transform: rotateX(-90deg) translateZ(100px);
  -ms-transform: rotateX(-90deg) translateZ(100px);
  -o-transform: rotateX(-90deg) translateZ(100px);
  transform: rotateX(-90deg) translateZ(100px);
}

/*
#cube.show-front  { @include transform( translateZ( -100px ) rotateY(    0deg )  ) }
#cube.show-back   { @include transform( translateZ( -100px ) rotateX( -180deg )  ) }
#cube.show-right  { @include transform( translateZ( -100px ) rotateY(  -90deg )  ) }
#cube.show-left   { @include transform( translateZ( -100px ) rotateY(   90deg )  ) }
#cube.show-top    { @include transform( translateZ( -100px ) rotateX(  -90deg )  ) }
#cube.show-bottom { @include transform( translateZ( -100px ) rotateX(   90deg )  ) }
*/
/* line 93, ../sass/style.scss */
#cube.show-front,
#cube.show-back,
#cube.show-right,
#cube.show-left,
#cube.show-top,
#cube.show-bottom {
  -webkit-transform: rotate3d(0, 1, 0, 90deg);
  -moz-transform: rotate3d(0, 1, 0, 90deg);
  -ms-transform: rotate3d(0, 1, 0, 90deg);
  -o-transform: rotate3d(0, 1, 0, 90deg);
  transform: rotate3d(0, 1, 0, 90deg);
  /*@include rotateY( 90deg);*/
}

/*
#cube.show-front  { transform: translateZ( -100px ) rotateY(    0deg ); }
#cube.show-back   { transform: translateZ( -100px ) rotateX( -180deg ); }
#cube.show-right  { transform: translateZ( -100px ) rotateY(  -90deg ); }
#cube.show-left   { transform: translateZ( -100px ) rotateY(   90deg ); }
#cube.show-top    { transform: translateZ( -100px ) rotateX(  -90deg ); }
#cube.show-bottom { transform: translateZ( -100px ) rotateX(   90deg ); }
*/
/* line 115, ../sass/style.scss */
.ncubeface {
  width: 150px;
  height: 200px;
  background-color: gray;
  outline: 2px solid darkgreen;
}

/* line 121, ../sass/style.scss */
.nheader {
  background-color: black;
  color: whitesmoke;
  padding: 0 10px;
}

/* line 126, ../sass/style.scss */
.nbody {
  padding: 0 10px;
}

/* line 130, ../sass/style.scss */
.nrow {
  padding: 10px 0;
  border-bottom: 2px solid darkgreen;
}

/* line 135, ../sass/style.scss */
.ncubeface {
  position: absolute;
}

/* line 139, ../sass/style.scss */
.ncube-container {
  width: 150px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}

/* line 146, ../sass/style.scss */
.cube, .prism {
  width: 150px;
  height: 200px;
  position: absolute;
  transform-style: preserve-3d;
}

/*.cube figure,
.prism figure {
  width: 196px;
  height: 196px;
  display: block;
  position: absolute;
  border: 2px solid black;
}*/
/* line 162, ../sass/style.scss */
.faces {
  width: 150px;
  height: 200px;
  position: absolute;
  transform-style: preserve-3d;
}

/* line 170, ../sass/style.scss */
.faces .front {
  transform: rotateY(0deg) translateZ(75px);
}

/* line 171, ../sass/style.scss */
.faces .back {
  transform: rotateY(180deg) translateZ(75px);
}

/* line 172, ../sass/style.scss */
.faces .right {
  transform: rotateY(90deg) translateZ(75px);
}

/* line 173, ../sass/style.scss */
.faces .left {
  transform: rotateY(-90deg) translateZ(75px);
}

/* line 174, ../sass/style.scss */
.faces .top {
  transform: rotateX(90deg) translateZ(75px);
}

/* line 175, ../sass/style.scss */
.faces .bottom {
  transform: rotateX(-90deg) translateZ(75px);
}

/* line 178, ../sass/style.scss */
.cube {
  transform: translateZ(-75px);
}

/* line 179, ../sass/style.scss */
.prism {
  transform: translateZ(-86px);
}

/* line 181, ../sass/style.scss */
.faces.show-front {
  transform: translateZ(-75px) rotateY(0deg);
}

/* line 182, ../sass/style.scss */
.faces.show-back {
  transform: translateZ(-75px) rotateX(-180deg);
}

/* line 183, ../sass/style.scss */
.faces.show-right {
  transform: translateZ(-75px) rotateY(-90deg);
}

/* line 184, ../sass/style.scss */
.faces.show-left {
  transform: translateZ(-75px) rotateY(90deg);
}

/* line 185, ../sass/style.scss */
.faces.show-top {
  transform: translateZ(-75px) rotateX(-90deg);
}

/* line 186, ../sass/style.scss */
.faces.show-bottom {
  transform: translateZ(-75px) rotateX(90deg);
}

/* line 188, ../sass/style.scss */
.faces {
  transition: transform 1s;
}
