<div class="row">
  <div class="col-xs-12">

<!--     <section class="cube-container">
      <div id="cube">
        <figure class="front">1</figure>
        <figure class="back">2</figure>
        <figure class="right">3</figure>
        <figure class="left">4</figure>
        <figure class="top">5</figure>
        <figure class="bottom">6</figure>
      </div>
    </section> -->

  </div>
</div>
<!-- <div class="row">
  <button class="btn btn-lg btn-success" ng-click="rotate()">Flipper</button>
</div> -->

<div class="row">
  <div class="col-xs-6">
    <cube></cube>
  </div>
  <div class="col-xs-6">
    <cube></cube>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="row-spacer"></div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <cube></cube>
  </div>
  <div class="col-xs-6">
    <cube></cube>
  </div>
</div>

